@media (min-width: 1024px) {
    .header {
        background: #275A53;
        height: 983px;
        font-family: Gilroy;
    }
}

@media (max-width: 1023px) {
    .header-text {
        display: none;
    }
}